.ingredients-wrapper p {
  font-family: "Moon Dance", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar,
.nav-link {
  font-family: "Moon Dance", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
  margin: 30px;
}

.drinks-wrapper img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}
body {
  background-image: url(https://images.squarespace-cdn.com/content/v1/63d97c37409fe07bc6831fee/770498ac-0275-4183-8ff2-7ce9a729a523/Deaths+Door+Gin+Gimlet+Photo.jpg);
  background-repeat: no-repeat;
  background-size: fill;
}
